/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "semantic-ui";

/* Flash messages */

p.notice {
  background-color: #DEFCD5;
  color: #52A954;
  padding: 1rem;
}
p.error {
  background-color: #F1D7D7;
  color: #A95252;
  padding: 1rem;
}

/* Forms */

.ui.form {
  textarea {
    height: 6em;
  }
}

/* Typography */

.small-text {
  font-size: 0.85rem;
}

.medium-text {
  font-size: 1.35rem;
}

body {
  margin: 0;
  font-family: arial;
}

.ui.items>.item {
  min-height: 150px;
}

/* Layout */

.max-width {
  max-width: 62rem;
  margin: auto;
  position: relative;
}
.has-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
