<div class="max-width has-padding">
  <% if current_user && current_user.id == @test.user_id %>
    report
    <div class="ui grid stackable">
      <div class="eight wide column">
        <h1 class="ui header"> <%= @test.title %></h1>
        <p><%= @test.description %></p>
      </div>
      <div class="eight wide column">
        <%= render "responses" %>
      </div>
    </div>
  <% else %>
  <p>Only the test owner can view the results</p>
  <% end %>
</div>