<div class="max-width has-padding">
  <div class="ui grid stackable">
    <div class="eight wide column">
      <h1 class="ui header"> <%= @test.title %></h1>
      <p><%= @test.description %></p>
    </div>
    <div class="eight wide column">
      <% if current_user.id == @test.user_id %>
        <%= render "responses" %>
      <% else %>
        <%= render "form" %>
      <% end %>
    </div>

  </div>
</div>
